<div class="image-viewer">
  <div class="image-viewer__wrapper" *ngIf="thumbnailsList.length">
    <p-galleria
      [value]="thumbnailsList"
      [(visible)]="displayCustom"
      [(activeIndex)]="activeIndex"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{'max-width': '850px'}"
      [numVisible]="7"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [baseZIndex]="100000"
      (activeIndexChange)="onImageChange($event)">
      <ng-template pTemplate="item" let-item>
        <div class="image-viewer__img-loader" *ngIf="imgLoader">
          <p-progressSpinner [style]="{width: '250px', height: '250px'}"></p-progressSpinner>
        </div>
        <div class="image-viewer__img-wrapper" *ngIf="!imgLoader">
          <pinch-zoom>
            <img [src]="picture?.full_picture" style="width: 100%; display: block;"/>
          </pinch-zoom>
        </div>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
          <img [src]="item.cropped_picture" style="display: block;"/>
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div class="image-viewer__galleria-caption-row" *ngIf="!imgLoader">
          <h4><i class="pi pi-user"></i> {{picture?.author}}</h4>
          <h4><i class="pi pi-camera"></i> {{picture?.camera}}</h4>
        </div>
        <div class="image-viewer__galleria-caption-row">
          <p>{{picture?.tags}}</p>
          <p-button
            icon="pi pi-copy"
            (onClick)="copyLink(picture?.full_picture)"
            pTooltip="Copy image url" tooltipZIndex="200000">
          </p-button>
        </div>
      </ng-template>
  </p-galleria>
    <div class="image-viewer__thumbnails">
      <div class="image-viewer__thumbnails-item"
        *ngFor="let thumbnail of thumbnailsList; let index = index;"
        (click)="showMore(index, thumbnail.id)">
        <img src="{{thumbnail.cropped_picture}}">
      </div>
    </div>
    <div class="image-viewer__paginator">
      <p-paginator [rows]="rowItems" [totalRecords]="pageCount" [rowsPerPageOptions]="[6,9,12]" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
  <div class="image-viewer__error" *ngIf="isError">
    <div class="image-viewer__error-box">
      <div class="image-viewer__face2">
        <div class="image-viewer__eye"></div>
        <div class="image-viewer__eye image-viewer__eye--right"></div>
        <div class="image-viewer__mouth image-viewer__mouth--sad"></div>
      </div>
      <div class="image-viewer__shadow image-viewer__move"></div>
      <div class="image-viewer__message"><h1 class="image-viewer__alert">Error!</h1><p>oh no, something went wrong.</div>
      <button class="image-viewer__button-box" (click)="getAuthorizationToken()"><h1 class="image-viewer__red">try again</h1></button>
    </div>
  </div>
</div>
<app-preloader></app-preloader>
<p-toast [baseZIndex]="200000"></p-toast>